= simple_form_for(@event, html: { class: 'form-horizontal' }) do |f|
  = f.input :title, wrapper_html: { style: 'margin: 0' }
  %br
  = f.label :description
  = f.cktext_area :description
  = f.input :location, wrapper_html: { style: 'margin: 0' }
  = f.input :from
  = f.input :to

  %br
  = f.button :submit, class: 'btn btn-success'
  = link_to 'Cancel', stories_path, class: 'btn btn-default'
