.container
  .row
    .col-lg-12
      .main-heading
        - if user_signed_in?
          .pull-right.new-button
            = link_to 'New event', new_event_path, class: 'btn btn-default'
      %h2 Events
      .clearfix
      %br

      - if @events.empty?
        %p Bummer! No events to dislay. Check out later? :-)

      - @events.each do |event|
        .event{ class: "#{'reduce-opacity' if Date.today > event.to}" }
          .row
            .col-lg-1
              %i.fa.fa-calendar.calendar-icon{ style: 'font-size: 80px' }
            .col-lg-11
              %p.heading= event.title
              - if current_user && event.user == current_user
                %ul.list-inline
                  %li= link_to 'edit', edit_event_path(event)
                  |
                  %li= link_to 'delete', event, method: :delete, data: { confirm: 'Are  you sure?' }
              %strong
                = event.from.strftime('%e %b %Y %I:%M %p')
                to
                = event.to.strftime('%e %b %Y %I:%M %p')
              %p{ style: 'margin-top: 15px' }= event.description.html_safe
          %hr
