.container
  .row
    .col-md-3.col-md-offset-4
      .main-heading
        %h1 Sign In
        %br

      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f|
        = f.input :email
        = f.input :password
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean
        = f.submit 'Login', class: 'btn btn-default'

      %br

      %p
        Doesn't have an account?
        = link_to 'Sign Up', new_user_registration_path
