.container
  .row
    .col-md-8.col-md-offset-2
      .main-heading
        .pull-right.new-button
          = link_to 'New activity', new_activity_path, class: 'btn btn-default'
        .clearfix
      - @activities.each do |activity|
        .activity
          = link_to activity, class: 'title-link' do
            %p.heading= activity.title
          %ul.list-inline.author-info
            %li
              %em
                = activity.user.name
                on
                = activity.created_at.strftime('%e %b')
            - if activity.user == current_user
              %li= link_to 'edit', edit_activity_path(activity)
              |
              %li= link_to 'delete', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %br
          %p= truncate_html activity.description.html_safe, length: 1200, omission: (link_to '.. read more', activity)
          .clearfix
          %hr

